.art {
    scale: 0.25;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 600px;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    div {
        flex: 0 1 33%;
        margin-bottom: 25px;
    }
}

.border-bottom {
    border-bottom: 1px solid #d6d9e0;
}

.hidden {
    display: none !important;
}
